@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #16a34a;
  --secondary-color: #2563eb;
  --accent-color: #f97316;
  --success-color: #10b981;
  --warning-color: #eab308;
  --error-color: #ef4444;
}
